target/
*.class
*.hpi
*.jar
minio-data/
tmp/
tools/
docs/test-anim.gif
.mvn/*.backup

.idea/
*.iml
.vscode/

.DS_Store
*.swp
*.swo
*~

.settings/
.project
.classpath

node_cache/
node_modules/
work/
secrets/
.local/